version: '3.9'

services:
  mysql:
    image: mysql:8
    ports:
      - '3306:3306'
    volumes:
      - mysqldb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root

volumes:
  mysqldb:
